<!--&lt;!&ndash; https://material.angular.dev/components/categories &ndash;&gt;-->
<!--<mat-toolbar color="primary">-->
<!--  <button mat-icon-button (click)="drawer.toggle()">-->
<!--    &lt;!&ndash;  https://www.angularjswiki.com/angular/angular-material-icons-list-mat-icon-list/  &ndash;&gt;-->
<!--    <mat-icon>menu</mat-icon>-->
<!--  </button>-->
<!--  &lt;!&ndash; pour mettre les elements a droite-->
<!--  en utilise un flex auto pour ce span&ndash;&gt;-->
<!--  <span class="spacer"></span>-->
<!--  <button mat-button routerLink="/home">Home</button>-->
<!--  <button mat-button routerLink="/profile">Profile</button>-->
<!--  <button mat-button [matMenuTriggerFor]="importMenu">-->
<!--    <mat-icon iconPositionEnd>arrow-drop-down</mat-icon>-->
<!--    Import</button>-->
<!--  <mat-menu #importMenu>-->
<!--    <button mat-menu-item>Load Students</button>-->
<!--    <button mat-menu-item>Load Payments</button>-->
<!--  </mat-menu>-->
<!--  <button routerLink="login" mat-raised-button color="accent">Login</button>-->
<!--</mat-toolbar>-->

<!--&lt;!&ndash;side menu&ndash;&gt;-->
<!--<mat-drawer-container>-->
<!--  &lt;!&ndash; opned true to make side bar apparaitre au depart &ndash;&gt;-->
<!--  <mat-drawer #drawer mode="side" position="start" opened="true">-->
<!--    <mat-nav-list>-->
<!--      <mat-list-item>-->
<!--        <button mat-button routerLink="/dashboard">Dashboard</button>-->
<!--      </mat-list-item>-->
<!--      <mat-list-item>-->
<!--        <button mat-button routerLink="/students">Students</button>-->
<!--      </mat-list-item>-->
<!--      <mat-list-item>-->
<!--        <button mat-button routerLink="/payments">Payments</button>-->
<!--      </mat-list-item>-->
<!--    </mat-nav-list>-->
<!--  </mat-drawer>-->
<!--  &lt;!&ndash; content &ndash;&gt;-->
<!--  <mat-drawer-content>-->
<!--    <div style="min-height: 200px"></div>-->
<!--    <router-outlet></router-outlet>-->
<!--  </mat-drawer-content>-->
<!--</mat-drawer-container>-->

<!--=============bien styler ======================-->

<!-- https://material.angular.dev/components/categories -->
<!--==========TOP BAR================-->
<mat-toolbar color="primary" class="fixed-navbar">
  <button (click)="drawer.toggle()" mat-icon-button>
    <!--  https://www.angularjswiki.com/angular/angular-material-icons-list-mat-icon-list/  -->
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>

  <button mat-button routerLink="/template/home">Home</button>
  <button *ngIf="authService.roles.includes('ADMIN')" [matMenuTriggerFor]="importMenu" mat-button>
    Import <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
  </button>
  <button mat-button routerLink="/template/profile">Profile</button>

  <span class="spacer"></span>
  <button *ngIf="authService.authenticated" [matMenuTriggerFor]="profileMenu" mat-button>
    {{authService.username}} <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #importMenu>
  <button routerLink="/template/loadStudents" mat-menu-item>Load Students</button>
  <button routerLink="/template/loadPayments" mat-menu-item>Load Payments</button>
</mat-menu>
<mat-menu #profileMenu>
  <button (click)="logout()" mat-menu-item color="accent">Logout</button>
  <button routerLink="/template/loadPayments" mat-menu-item>Setings</button>
</mat-menu>

<!--================side navbar==================-->
<mat-sidenav-container class="main-content">
  <!-- opned false to make side bar cache au depart -->
  <mat-sidenav #drawer mode="side" opened="false">
    <mat-nav-list>
      <!--(click)="drawer.close()" pour que apres l'evenements de click
      refermer le sidebare-->
      <a  mat-list-item routerLink="/template/dashboard" (click)="drawer.close()">
        <div>
          <mat-icon matListIcon>dashboard</mat-icon>
          Dashboard</div>
      </a>
      <a mat-list-item routerLink="/template/students">
        <div>
          <mat-icon matListIcon>people</mat-icon>
          Students</div>
      </a>
      <a mat-list-item routerLink="/template/payments">
        <div>
          <mat-icon matListIcon>payment</mat-icon>
          Payments</div>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <!--==============CONTENT==============-->
  <mat-sidenav-content>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<!--==========sidebar a droit===========-->


<!--&lt;!&ndash; https://material.angular.dev/components/categories &ndash;&gt;-->
<!--&lt;!&ndash; Toolbar avec boutons à gauche &ndash;&gt;-->
<!--<mat-toolbar color="primary">-->
<!--  <span>My App</span>-->
<!--  <button mat-button routerLink="/home">Home</button>-->
<!--  <button mat-button routerLink="/profile">Profile</button>-->

<!--  <button mat-button [matMenuTriggerFor]="importMenu">-->
<!--        &lt;!&ndash;  https://www.angularjswiki.com/angular/angular-material-icons-list-mat-icon-list/  &ndash;&gt;-->
<!--        Import <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>-->
<!--  </button>-->

<!--  <span style="flex: 1 1 auto"></span>-->

<!--  <button mat-raised-button color="accent" routerLink="/login">Login</button>-->

<!--  &lt;!&ndash; Bouton menu à droite &ndash;&gt;-->
<!--  <button mat-icon-button (click)="drawer.toggle()">-->
<!--    <mat-icon>menu</mat-icon>-->
<!--  </button>-->
<!--</mat-toolbar>-->

<!--&lt;!&ndash; Menu déroulant &ndash;&gt;-->
<!--<mat-menu #importMenu>-->
<!--  <button mat-menu-item>Load Students</button>-->
<!--  <button mat-menu-item>Load Payments</button>-->
<!--</mat-menu>-->

<!--&lt;!&ndash; Side nav à droite &ndash;&gt;-->
<!--<mat-sidenav-container style="height: calc(100vh - 64px);">-->
<!--  <mat-sidenav #drawer mode="side" position="end" opened>-->
<!--    <mat-nav-list>-->
<!--      <a mat-list-item routerLink="/dashboard">-->
<!--        <mat-icon matListIcon>dashboard</mat-icon>-->
<!--        Dashboard-->
<!--      </a>-->
<!--      <a mat-list-item routerLink="/students">-->
<!--        <mat-icon matListIcon>people</mat-icon>-->
<!--        Students-->
<!--      </a>-->
<!--      <a mat-list-item routerLink="/payments">-->
<!--        <mat-icon matListIcon>payment</mat-icon>-->
<!--        Payments-->
<!--      </a>-->
<!--    </mat-nav-list>-->
<!--  </mat-sidenav>-->

<!--  <mat-sidenav-content>-->
<!--    <router-outlet></router-outlet>-->
<!--  </mat-sidenav-content>-->
<!--</mat-sidenav-container>-->
