.login-card {
    max-width: 400px;
    margin: 0 auto;
    padding: 24px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    background-color: #fff;
}

.login-title {
    font-size: 1.6rem;
    font-weight: 600;
    color: #3f51b5;
    text-align: center;
    margin-bottom: 16px;
}

.login-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.full-width {
    width: 100%;
    margin-bottom: 16px;
}

mat-card-actions {
    margin-top: 16px;
    /*justify-content: center;*/
}


/*======================.pdfViewer=======================*/
.pdf-viewer{
    height: 100vh;
    /*display: block;*/
    /*margin: auto;*/
    /*max-width: 120px;*/
}



/*===================the spinner====================*/
/* Style du conteneur du spinner */
.spinner-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
}

/* Style du spinner lui-même */
.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top-color: #3498db;
    animation: spin 1s ease-in-out infinite;
}

/* Animation de rotation */
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
